body {
    background-color: gold;
}

#eatheader {
    text-align: center;
}

#burgerpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 100px;
}